{{ partial "global-header.html" . }}

{{ $data := index .Site.Data .Site.Language.Lang }}
<!-- Portfolio Start -->

<div id="timeline-wrapper">
<section id="cd-timeline" class="cd-container cssanimations">
		<div class="cd-timeline-block">
			<div class="cd-timeline-img vert">
				<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-picture.svg" alt="Picture">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2 class="post-title">Dessin d'art</h2>
				<p>Je dessine l'article que je souhaite réaliser en réfléchissant à plusieurs choses...</p>
				<button type="button" class="btn btn-main" data-toggle="modal" data-target="#modal1">Plus d'infos</button>
				<span class="cd-date"><img src='{{ "img/timeline/" | absURL }}01.jpg'/></span>
			</div> <!-- cd-timeline-content -->

			<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="ModalLabel">Dessin d'art</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</div>
					</div>
				</div>
			</div>
		</div> <!-- cd-timeline-block -->

		{{ range .Pages.GroupBy "Section" }}
		{{ .Title }}
			<section id="cd-timeline" class="cd-container cssanimations">
				<div class="cd-timeline-block">
					<div class="cd-timeline-img {{ .couleur }}">
						<i class="fa fa-2x {{ .logo }}">/<i>
					</div><!-- cd-timeline-logo -->
					<div class="cd-timeline-content">
						<h2 class="post-tile">{{ .titre }}</h2>
						<p>{{ .texte | safeHTML | truncate 20}}</p>
						<button type="button" class="btn btn-main" data-toggle="modal" data-target="#modal{{ .weight }}">Lire plus</button>
						<span class="cd-date"><img src='{{ "im/timeline/" | absURL }}{{ .image }}'/></span>
					</div><!-- cd-timeline-content -->
					<div class="modale fade" id="modal{{ .weight }}" tabeindex="-1" role="dialog" aria-labelledby="ModalLabel{{ .weight }}" aria-hidden="true">
						<div class="modal-dialog modal-lg" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="ModalLabel{{ .weight }}">{{ .titre }}</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">{{ .texte }}</div>
							</div>

						</div>
					</div>
				</div>
			</section>
		{{ end }}

	</section> <!-- cd-timeline -->
</div><!-- timeline-wrapper -->
