<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}">
{{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}


<!-- robots -->
<!-- you may configure it in the front matter of the page or in site params -->
{{ if or (isset .Params "robots") (isset .Site.Params "robots") }}
<meta name="robots" content="{{ with .Params.robots }}{{ . }}{{ else }}{{ .Site.Params.robots }}{{ end }}">
{{ end }}

<!-- Place favicon.ico and apple-touch-icon.png in the root directory
     or place appropriate <link .../> etc in favicon.html partial -->
{{ partial "favicon.html" . }}

<title>{{ .Title }}</title>

{{ .Hugo.Generator }}

<!-- CSS -->
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/owl.carousel.css" />
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/bootstrap.min.css" />
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/font-awesome.min.css" />
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/airspace-local-fonts.css" />
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/ionicons.min.css" />
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/animate.css" />
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/responsive.css" />
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/syntax.css" />
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/timeline.css" />
{{ "<!-- Main Stylesheet -->" | safeHTML }}
{{ $styles := resources.Get "css/style.css" | minify}}
<link rel="stylesheet" href="{{ $styles.Permalink }}" integrity="{{ $styles.Data.Integrity }}" media="screen">

<!-- Js -->
<script src="{{ .Site.BaseURL }}js/jquery-1.10.2.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery-1.10.2.min.js"><\/script>')</script>
<script src="{{ .Site.BaseURL }}js/bootstrap.min.js"></script>
<script src="{{ .Site.BaseURL }}js/owl.carousel.min.js"></script>
<script src="{{ .Site.BaseURL }}js/plugins.js"></script>
<script src="{{ .Site.BaseURL }}js/min/waypoints.min.js"></script>
<script src="{{ .Site.BaseURL }}js/jquery.counterup.js"></script>
<script src="{{ .Site.BaseURL }}js/timeline.js"></script>

{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/main.js" | minify}}
<script src="{{ $script.Permalink }}"></script>


<!--
/*
 * Airspace
 * Ported to Hugo by Giacomo Mariani
 * https://github.com/karju-dev/airspace-hugo
 * Based on the original Jakyll porting by Andrew Lee
 * https://github.com/luminousrubyist/airspace-jekyll
 * Designed and Developed by ThemeFisher
 * https://themefisher.com/
 *
 */
-->
