{{ if .Site.Params.slider.enable }}
{{ "<!-- Slider Start -->" | safeHTML}}
<section id="slider">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="block text-center">
                    <h1 class="animated fadeInUp">{{ .Site.Params.slider.title | safeHTML }}</h1>
                    <p class="animated fadeInUp">{{ .Site.Params.slider.subtitle | safeHTML }}</p>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}
