<!DOCTYPE html>
<html>
<head>
	{{ partial "head.html" . }}
</head>
<body>

	{{ partial "header.html" . }}

	{{ partial "global-header.html" . }}

  <div id="timeline-wrapper">
  <section id="cd-timeline" class="cd-container cssanimations">

  		{{ range .Pages }}
				<div class="cd-timeline-block">
					<div class="cd-timeline-img {{ .Params.couleur }}">
						<i class="fa fa-2x {{ .Params.logo }}"></i>
					</div><!-- cd-timeline-logo -->
					<div class="cd-timeline-content">
						<h2 class="post-title">{{ .Title }}</h2>
						<p>{{ .Content | safeHTML | truncate 70 }}</p>
						<button type="button" class="btn btn-main" data-toggle="modal" data-target="#modal{{ .UniqueID }}">Lire plus</button>
						<span class="cd-date"><img src='{{ "img/timeline/" | absURL }}{{ .Params.image }}'/></span>
					</div><!-- cd-timeline-content -->
					<div class="modal fade" id="modal{{ .UniqueID }}" tabindex="-1" role="dialog" aria-labelledby="ModalLabel{{ .UniqueID }}" aria-hidden="true">
						<div class="modal-dialog modal-lg" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="ModalLabel{{ .UniqueID }}">{{ .Title }}</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">{{ .Content }}</div>
							</div>

						</div>
					</div>
				</div>
  		{{ end }}

  	</section> <!-- cd-timeline -->
  </div><!-- timeline-wrapper -->

  {{ partial "footer.html" . }}

</body>
</html>
