<!DOCTYPE html>
<html>
<head>
	{{ partial "head.html" . }}
</head>
<body>

	{{ partial "header.html" . }}

	{{ partial "global-header.html" . }}

	<section id="portfolio-work">
	    <div class="container">
	        <div class="row">
	          <div class="col-md-12">
	            <div class="block">
	              <div class="portfolio-menu">
	                <ul>
	                  {{ $categories := slice }}
	                  {{ range (readDir "content/productions") }}
	                    {{ $categories = $categories | append .Name }}
	                  {{ end }}
	                    <li class="filter" data-filter="all">Tout</li>
	                  {{ range ( $categories | uniq ) }}
	                    <li class="filter" data-filter=".{{ . }}">{{ . }}</li>
	                  {{ end }}
	                </ul>
	              </div>
	              <div class="portfolio-contant">
	                <ul id="portfolio-contant-active">
	                  {{ range .Pages }}
	                    <li class="mix {{ .Params.categories }}">
	                      <a href="{{ .URL }}">
	                        <img src="{{ .Params.image | absURL }}" alt="">
	                        <div class="overly">
	                          <div class="position-center">
	                            <h2>{{ .Title }}</h2>
	                            <p>{{ .Summary }}</p>

	                          </div>
	                        </div>
	                      </a>
	                  </li>
	                  {{ end }}
	                </ul>
	              </div>
	            </div>
	          </div>
	        </div>
	    </div>
	</section>

	{{ partial "footer.html" . }}

</body>
</html>
